*{
margin: 0;
padding: 0
}

.top img{
	width: 100px;
	padding-right: 10px;

}


.top .floatright{
	float: right;
}

.top{
	background-color: #000;
	color: #fff;／。 
	padding-left: 40px;
	
	
}
.wordcolor{
    font-size: 40px;
    font-variant: Monospace;
    position: relative;
    top: -15px;
    /**除了定位别的放吧把字居中，为什么ta没有用，margin也没用**/
    }

.floatright{
padding-top: 31px;
padding-right: 30px;
cursor: pointer;
}


.top span{
	margin: 20px;
}

.border_a {
	display: inline-block;

	margin-right: 30px;
	padding-bottom: 11px;
	padding-right: 40px;
}

.border_a li{
	float: left;
	padding-right: 40px;
	list-style: none;
	font-size: 15px;
	font-family: "simhei"

}


#borderpink,
#borderpinkone,
#borderpinktwo,
#borderpinkthree{
		padding-bottom: 30px;
}

.border_a a{
	text-decoration: none;
	color: #eee;
	
}

.border_a a:hover{
    color: #f36;
    border-bottom: 5px solid #f36;
}

.cute img{
   width: 20px;
}
.cute{
	position: relative;
	left: 380px;
	bottom: 32px;
}
.cute span{
	color: #ccc;
	opacity: 0.7;
	position: relative;
	right: 30px;
	bottom: 3px;
}

	

.second img{
	width: 100%;
	}

.second p{
	font-size: 80px;
	position: absolute;
	top: 300px;
	left: 200px;
	font-weight: 700;
    letter-spacing:0.5em; 
	
}

.second span{
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 0.2em;
	position: absolute;
	top: 400px;
	left: 200px;
}

.second a{
	background-color: #fff;
	font-size: 30px;
	font-weight: 700px;
	padding: 10px 50px;
	border-radius: 20px;
	position: absolute;
	position: 450px;
	top: 550px;
	left: 200px;
	cursor: pointer;
	text-decoration: none;
	color: #f36;
	transition: all 0.6s;


}
.second a:hover{
	background-color: #f36;
	color: #eee;

}

.third{
	float: left;
	padding-bottom: 90px;
	background-color: #fff;
}

figure{
	float: right;
}
figure img{
	padding: 30px 50px 70px  70px;
}

.third p{
	display: inline;
	color: #999;
	font-family: "Microsoft Yahei";

}

.third p:hover{
	color: #f36;
	transition:all 0.5s;
}

.leftright_1{
	padding-left: 200px;
	padding-right: 130px;
	padding-bottom: 20px;
	border-right: 2px solid #ccc;
}

.leftright_2{
	padding-left: 150px;
	padding-right: 150px;
	padding-bottom: 20px;
	border-right: 2px solid #ccc;
}

.leftright_3{
	padding-left: 120px;
	padding-right: 150px;
	padding-bottom: 20px;
	border-right: 2px solid #ccc;
}

.leftright_4{
	padding-left: 100px;
	padding-bottom: 20px;
	
}

.forth{
	background-color: #000;
	text-align: center;
}

.forth p{
	font-size: 50px;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 50px;
}
.forth img{
	padding-top: 50px;
	padding-bottom: 30px;
}


.fifth{
	background-color: #f36;
	text-align: center;
}

.fifth h1{
	padding-top: 90px;
	font-size: 60px;
	padding-bottom: 30px;

}

.fifth p{
	padding-top: 20px;
	font-size: 20px;
	padding-bottom: 50px;
}

.border_5{
	display: inline;
	border-top: 2px solid;
	padding-top: 30px;
}

form select{
	  appearance:none;
	  -moz-appearance:none;
	  -webkit-appearance:none;
	   background: url("https://www.google.co.jp/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiumvaD5fDNAhWKG5QKHVH8CmkQjRwIBw&url=http%3A%2F%2Fwww.softicons.com%2Fgame-icons%2Fsuper-mario-icons-by-sandro-pereira&psig=AFQjCNFU_mkeauSm5qR0nf0et2puerul0Q&ust=1468511295009618") no-repeat scroll right center transparent;
	   padding-right: 10px;
	  color: #a6a6a6;

	}


.sixth figure{

	text-align: center;
	display: inline-block;
	margin-left: 50px;
	margin-bottom: 100px;
	margin-top: 100px;
	position: relative;
	right: 80px;
}


.sixth img{
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	-webkit-transition: all ease-out 1s;
			-o-transition: all ease-out 1s;
			transition: all ease-out 1s;
}
.sixth img:hover{
			-webkit-transform: scale(1.5);
			-ms-transform: scale(1.5);
			-o-transform: scale(1.5);
			transform: scale(1.5);
		}
}

.sixth p{
	font-family: "Microsoft Yahei";
	font-weight: 400;
	font-size: 15px;
	color: #999;
	margin: 30px;
}

.sixth .num{
	font-size: 30px;
	font-family: "simhei";
	font-weight: 700;

}
